{% extends "base.html" %}
	

{% block content %}
	<!-- Masthead-->
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid bg-white px-4 px-lg-0">

		    <img src="{{ url_for('static', filename='logo.png') }}"/>

                </div>

                <div class="container-fluid px-4 px-lg-0">
		    <br>
		    <br>
    		    <h2 style=text-align:center;color:red><a href="{{ url_for('team') }}">Team</a></h2>
    		    <h2 style=text-align:center;><a href="{{ url_for('register') }}">Register Here</a></h2>
    		    <h2 style=text-align:center;><a href="{{ url_for('login') }}">Log In</a></h2>

                </div>

            </div>
        </div>

{%endblock%}

