<html>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <h1 style="color:#B1531A;font-size:300%; font-family: 'Oswald';text-align:center;">Swolemate</h1>
    <h2 style=text-align:center;><a href="{{ url_for('team') }}">Team</a></h2>
    <h2 style=text-align:center;><a href="{{ url_for('register') }}">Register Here</a></h2>
    <h2 style=text-align:center;><a href="{{ url_for('login') }}">Log In</a></h2>
    <p style=text-align:center;>
        Evaluate your workout form wherever you are
    </p>

    <table>
        {% for i in images %}
        <tr>
            <td align=center width="80"><img src={{ i['image'] }}></td>
            <td>{{  i['text']  }}</td>
            </td>
        </tr>
        {% endfor %}

</html>