<html>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <h1 style="color:#B1531A;font-size:200%; font-family: 'Oswald';text-align:center;">Team</h1>
    <h2 style=text-align:center;><a href="{{ url_for('index') }}">Home</a></h2>
    <table>
        {% for a in authors %}
        <tr>
            <td align=center width="50"><img src={{  a.pic  }}></td>
            <td style="font-size:70%; font-family:Verdana, sans-serif">
                <a href={{  a.linkedin  }}>{{ a.name }}</a>
                <br>{{  a.position  }}<br>
            </td>
        </tr>
        {% endfor %}
    
    </table>    


</html>