{% extends "base.html" %}

{% block content %}

	<!-- Masthead-->
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid bg-white px-4 px-lg-0">

    			<table>
        			{% for a in authors %}
        			<tr>
            			<td align=center width="50"><img src={{  a.pic  }}></td>
            			<td style="font-size:70%; font-family:Verdana, sans-serif">
                			<a href={{  a.linkedin  }}>{{ a.name }}</a>
                			<br>{{  a.position  }}<br>
            			</td>
        			</tr>
        			{% endfor %}
    
    			</table>   

                </div>
            </div>
        </div>

{%endblock%}