{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block head %}
{{ super() }}
{% include "ga.html" %}
{% endblock %}

{% block title %}
File Upload
{% endblock %}


{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
	<br>	
	<br>
        <h2>Upload</h2>
	<h4>note: currently in beta version, please ensure workout is of one repetition</h4>
	<br>
        {{ form.csrf_token }}
        {{ wtf.form_field(form.file_selector) }}
        {{ wtf.form_field(form.exercise_selection) }}
        {{ wtf.form_field(form.side_selection) }}
        <center> {{ wtf.form_field(form.submit)}} </center>
    </form>
</br>
<center> upload your video </a> </center>
</div> <!-- /container -->
{% endblock %}