<!DOCTYPE html>
<html>
<head>
  <title>Video Example</title>
</head>
<body>
  <h2>Welcome {{  name  }}</h2>
  <h2 style=text-align:left;><a href="{{ url_for('upload') }}">Upload</a></h2>
  <h2>Upload a video to your personalized AI Feedback</h2>
  <video width="320" height="240" controls autoplay muted>
    <source src="https://msds603-swolemate-s3.s3.us-west-2.amazonaws.com/shiqi_raisearms.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video width="320" height="240" controls autoplay muted>
    <source src="https://msds603-swolemate-s3.s3.us-west-2.amazonaws.com/shiqi_raisearms_output.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- {% block content %} -->
  <div class="container">
  
      <h3>List Files</h3>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">File Name</th>
            <th scope="col">Time </th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
  
          <td>  <a href = "/download/{{ item[0] }}">{{ item[0] }} </a> </td>
          <td> {{ item[1] }} </td>
        </tr>
        {% endfor %}
          
        </tbody>
      </table>
      <br/>
  </div> <!-- /container -->
  
  <!-- {% endblock %} -->

  <!-- <h2>Example Graph</h2>
  <img src="/plot.png" alt="my plot"> -->

</body>
</html>